<!DOCTYPE html>
<html>
  <head>
    <title>Curriculum Vitae</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Curriculum Vitae</h1>
      </div>
      <div class="intro">
        <p>Hi! saya adalah mahasiswa IT Universitas Sains Alquran (UNSIQ) yang sedang mendalami web develop.
          saat ini saya masih belum memiliki riwayat pekerjaan sebagai web developer karena masih dalam pencarian ilmu. Doakan Saja.</p>
      </div>
      <div class="main">
        <div class="left">
          <span>
            <img src="foto1.jpg" alt="" width="200" height="200">
          </span>
          <h2>Personal Information</h2>
          <p>Name: Brilian Herda</p>
          <p>Email: brilianherda@gmail.com</p>
          <p>Phone: +62 851-5707-7462</p>
        </div>
        <div class="right">
          <h2>Biodata</h2>
          <ul>
            <li>Name : Brilian Herda</li>
            <li>nickname : Bre, Brili</li>
            <li>Date of Birth : February 26,2002</li>
            <li>Place of Birth : Wonosobo,INA</li>
            <li>Address : Kaliwiro, Wonosobo</li>
          </ul>
          <h2>Education</h2>
          <ul>
            <li>Pabelan Islamic Boarding School</li>
            <li>SMK Ibnu Siena TSM</li>
            <li>Sains Al-Qur'an University</li>
          </ul>
          <h2>Experience</h2>
          <ul>
            <li>Chairman of Student Senior High School (2019)</li>
            <li>Vice chairman of the Informatics Engineering Student Association (2021/2022)</li>
            <li>Secretary of the Student Executive Body (2022/2023)</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
